Build started...
Build succeeded.
BEGIN TRANSACTION;
GO

ALTER TABLE [Student] ADD [GuardianPhone] nvarchar(max) NULL;
GO

ALTER TABLE [Student] ADD [PreviousSchool] nvarchar(max) NULL;
GO

ALTER TABLE [OthersPayment] ADD [Waver] decimal(18,2) NOT NULL DEFAULT 0.0;
GO

ALTER TABLE [ExamSchedule] ADD [EndDate] datetime2 NULL;
GO

ALTER TABLE [ExamSchedule] ADD [ExamYear] nvarchar(max) NULL;
GO

ALTER TABLE [ExamSchedule] ADD [StartDate] datetime2 NULL;
GO

ALTER TABLE [AcademicMonth] ADD [OthersPaymentId] int NULL;
GO

UPDATE [AcademicMonth] SET [OthersPaymentId] = NULL
WHERE [MonthId] = 1;
SELECT @@ROWCOUNT;

GO

UPDATE [AcademicMonth] SET [OthersPaymentId] = NULL
WHERE [MonthId] = 2;
SELECT @@ROWCOUNT;

GO

UPDATE [AcademicMonth] SET [OthersPaymentId] = NULL
WHERE [MonthId] = 3;
SELECT @@ROWCOUNT;

GO

UPDATE [AcademicMonth] SET [OthersPaymentId] = NULL
WHERE [MonthId] = 4;
SELECT @@ROWCOUNT;

GO

UPDATE [AcademicMonth] SET [OthersPaymentId] = NULL
WHERE [MonthId] = 5;
SELECT @@ROWCOUNT;

GO

UPDATE [AcademicMonth] SET [OthersPaymentId] = NULL
WHERE [MonthId] = 6;
SELECT @@ROWCOUNT;

GO

UPDATE [AcademicMonth] SET [OthersPaymentId] = NULL
WHERE [MonthId] = 7;
SELECT @@ROWCOUNT;

GO

UPDATE [AcademicMonth] SET [OthersPaymentId] = NULL
WHERE [MonthId] = 8;
SELECT @@ROWCOUNT;

GO

UPDATE [AcademicMonth] SET [OthersPaymentId] = NULL
WHERE [MonthId] = 9;
SELECT @@ROWCOUNT;

GO

UPDATE [AcademicMonth] SET [OthersPaymentId] = NULL
WHERE [MonthId] = 10;
SELECT @@ROWCOUNT;

GO

UPDATE [AcademicMonth] SET [OthersPaymentId] = NULL
WHERE [MonthId] = 11;
SELECT @@ROWCOUNT;

GO

UPDATE [AcademicMonth] SET [OthersPaymentId] = NULL
WHERE [MonthId] = 12;
SELECT @@ROWCOUNT;

GO

UPDATE [Campus] SET [CreatedAt] = '2026-03-18T03:02:25.6877551+05:00'
WHERE [CampusId] = 1;
SELECT @@ROWCOUNT;

GO

UPDATE [ExamSchedule] SET [EndDate] = NULL, [ExamYear] = NULL, [StartDate] = NULL
WHERE [ExamScheduleId] = 1;
SELECT @@ROWCOUNT;

GO

UPDATE [ExamSchedule] SET [EndDate] = NULL, [ExamYear] = NULL, [StartDate] = NULL
WHERE [ExamScheduleId] = 2;
SELECT @@ROWCOUNT;

GO

UPDATE [ExamSchedule] SET [EndDate] = NULL, [ExamYear] = NULL, [StartDate] = NULL
WHERE [ExamScheduleId] = 3;
SELECT @@ROWCOUNT;

GO

UPDATE [Mark] SET [MarkEntryDate] = '2026-03-18T03:02:25.6879536+05:00'
WHERE [MarkId] = 1;
SELECT @@ROWCOUNT;

GO

UPDATE [Mark] SET [MarkEntryDate] = '2026-03-18T03:02:25.6879541+05:00'
WHERE [MarkId] = 2;
SELECT @@ROWCOUNT;

GO

UPDATE [Mark] SET [MarkEntryDate] = '2026-03-18T03:02:25.6879545+05:00'
WHERE [MarkId] = 3;
SELECT @@ROWCOUNT;

GO

UPDATE [Standard] SET [CreatedAt] = '2026-03-18T03:02:25.6879665+05:00'
WHERE [StandardId] = 1;
SELECT @@ROWCOUNT;

GO

UPDATE [Standard] SET [CreatedAt] = '2026-03-18T03:02:25.6879669+05:00'
WHERE [StandardId] = 2;
SELECT @@ROWCOUNT;

GO

UPDATE [Standard] SET [CreatedAt] = '2026-03-18T03:02:25.6879671+05:00'
WHERE [StandardId] = 3;
SELECT @@ROWCOUNT;

GO

UPDATE [Standard] SET [CreatedAt] = '2026-03-18T03:02:25.6879673+05:00'
WHERE [StandardId] = 4;
SELECT @@ROWCOUNT;

GO

UPDATE [Standard] SET [CreatedAt] = '2026-03-18T03:02:25.6879675+05:00'
WHERE [StandardId] = 5;
SELECT @@ROWCOUNT;

GO

UPDATE [Standard] SET [CreatedAt] = '2026-03-18T03:02:25.6879677+05:00'
WHERE [StandardId] = 6;
SELECT @@ROWCOUNT;

GO

UPDATE [Standard] SET [CreatedAt] = '2026-03-18T03:02:25.6879679+05:00'
WHERE [StandardId] = 7;
SELECT @@ROWCOUNT;

GO

UPDATE [Standard] SET [CreatedAt] = '2026-03-18T03:02:25.6879681+05:00'
WHERE [StandardId] = 8;
SELECT @@ROWCOUNT;

GO

UPDATE [Standard] SET [CreatedAt] = '2026-03-18T03:02:25.6879683+05:00'
WHERE [StandardId] = 9;
SELECT @@ROWCOUNT;

GO

UPDATE [Standard] SET [CreatedAt] = '2026-03-18T03:02:25.6879685+05:00'
WHERE [StandardId] = 10;
SELECT @@ROWCOUNT;

GO

UPDATE [Student] SET [CreatedAt] = '2026-03-18T03:02:25.6879729+05:00', [GuardianPhone] = NULL, [PreviousSchool] = NULL
WHERE [StudentId] = 1;
SELECT @@ROWCOUNT;

GO

UPDATE [Student] SET [CreatedAt] = '2026-03-18T03:02:25.6879740+05:00', [GuardianPhone] = NULL, [PreviousSchool] = NULL
WHERE [StudentId] = 2;
SELECT @@ROWCOUNT;

GO

UPDATE [Student] SET [CreatedAt] = '2026-03-18T03:02:25.6879746+05:00', [GuardianPhone] = NULL, [PreviousSchool] = NULL
WHERE [StudentId] = 3;
SELECT @@ROWCOUNT;

GO

UPDATE [Student] SET [CreatedAt] = '2026-03-18T03:02:25.6879752+05:00', [GuardianPhone] = NULL, [PreviousSchool] = NULL
WHERE [StudentId] = 4;
SELECT @@ROWCOUNT;

GO

UPDATE [Student] SET [CreatedAt] = '2026-03-18T03:02:25.6879758+05:00', [GuardianPhone] = NULL, [PreviousSchool] = NULL
WHERE [StudentId] = 5;
SELECT @@ROWCOUNT;

GO

UPDATE [Student] SET [CreatedAt] = '2026-03-18T03:02:25.6879763+05:00', [GuardianPhone] = NULL, [PreviousSchool] = NULL
WHERE [StudentId] = 6;
SELECT @@ROWCOUNT;

GO

UPDATE [Student] SET [CreatedAt] = '2026-03-18T03:02:25.6879850+05:00', [GuardianPhone] = NULL, [PreviousSchool] = NULL
WHERE [StudentId] = 7;
SELECT @@ROWCOUNT;

GO

UPDATE [Student] SET [CreatedAt] = '2026-03-18T03:02:25.6879856+05:00', [GuardianPhone] = NULL, [PreviousSchool] = NULL
WHERE [StudentId] = 8;
SELECT @@ROWCOUNT;

GO

UPDATE [Student] SET [CreatedAt] = '2026-03-18T03:02:25.6879861+05:00', [GuardianPhone] = NULL, [PreviousSchool] = NULL
WHERE [StudentId] = 9;
SELECT @@ROWCOUNT;

GO

UPDATE [Student] SET [CreatedAt] = '2026-03-18T03:02:25.6879867+05:00', [GuardianPhone] = NULL, [PreviousSchool] = NULL
WHERE [StudentId] = 10;
SELECT @@ROWCOUNT;

GO

UPDATE [Student] SET [CreatedAt] = '2026-03-18T03:02:25.6879872+05:00', [GuardianPhone] = NULL, [PreviousSchool] = NULL
WHERE [StudentId] = 11;
SELECT @@ROWCOUNT;

GO

UPDATE [Student] SET [CreatedAt] = '2026-03-18T03:02:25.6879877+05:00', [GuardianPhone] = NULL, [PreviousSchool] = NULL
WHERE [StudentId] = 12;
SELECT @@ROWCOUNT;

GO

UPDATE [Student] SET [CreatedAt] = '2026-03-18T03:02:25.6879899+05:00', [GuardianPhone] = NULL, [PreviousSchool] = NULL
WHERE [StudentId] = 13;
SELECT @@ROWCOUNT;

GO

CREATE INDEX [IX_AcademicMonth_OthersPaymentId] ON [AcademicMonth] ([OthersPaymentId]);
GO

ALTER TABLE [AcademicMonth] ADD CONSTRAINT [FK_AcademicMonth_OthersPayment_OthersPaymentId] FOREIGN KEY ([OthersPaymentId]) REFERENCES [OthersPayment] ([OthersPaymentId]);
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260317220232_AddGuardianPhoneAndPreviousSchoolV2', N'8.0.4');
GO

COMMIT;
GO


